body{
    text-align: center;
    font-size: 14px;
    color: #333;
}
a{
    color: #333;
}
.center{
    text-align: center
}
.avatar-img{
	width: 80px;
    height: 80px;
    border-radius: 50%;
}
.pay-img{
	width: 375px;
	height: 188px;    
	margin: 0 auto;
}