body{
    text-align: center;
    font-size: 14px;
    color: #333;
}
a{
    color: #333;
}
.center{
    text-align: center
}
.avatar-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.pay-img{
	height: 500px;
    width: 250px;
	margin: 0 auto;
}